.filter {
    padding: 5px;
    height: 30px;
}

.columnSearchFilter {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.columnSelectFilter {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.disabled {
    cursor: not-allowed;
}

.tdheader {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.headerName {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.arrow {
    position: absolute;
    right: 5px;
    bottom: 25%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }